%h1 Listing users

.user
  %table{:cellspacing => "0"}
    %thead
      %th="Email"
      %th="Roles"
    
    %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        - user.roles.each do |role|
          %td= role

%br

= link_to 'New user', "/users/sign_up"
